[user]
	name = Akira Maruoka
	email = akira.maruoka@fixstars.com
[core]
	editor = emacs
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
