on: 
  push:
    branches: [ "main" ]
    # Publish semver tags as releases.
    tags: [ "v*.*.*" ]
  pull_request:
    branches: [ "main" ]

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}


jobs:
  build-image:
    runs-on: ubuntu-latest
    outputs:
      image_name: ${{ steps.generate_docker_image_name.outputs.image_name}}
    steps:
    - uses: actions/checkout@v3

    - uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build Docker Image
      run: docker compose -f ./test/docker-compose.yml build

    - name: Push Docker Image
      run: docker compose -f ./test/docker-compose.yml push

  test:
    needs: build-image
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu22.04, ubuntu24.04]
    container: 
      image: ghcr.io/akmaru/dotfiles:${{ matrix.os }}
      options: --user root
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
   
    steps:
      - uses: actions/checkout@v3

      - name: Run install_minimum.sh
        run: ./install_minimum.sh

      - name: Check the login shell
        run: cat /etc/passwd | grep $(whoami)

      - name: Run zsh
        run: zsh

  